<!DOCTYPE html>
<html>
  <head>
    <title>SlackClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.jpg') %>"
    </script>
    <%= favicon_link_tag asset_path('transparent-logo.png') %>
  </head>

  <body style="margin: 0">
    <%= yield %>
  </body>
</html>
